.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# Otros
Include/
Lib/
Scripts/
instance/
*.db
*.sqlite
package.json
node_modules/
yarn.lock
.prettierrc
