/**
 * Azul primary  : #3c6bb1
 * Azul secondary: #2e4e8c
 * Azul tertiary : #223864
 * Gris          : #b5bdce
 */

/* Custom fonts */
@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* ========== General ========== */
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #212529;
  text-align: left;
  background-color: #f5f5f5;
}

.title-container {
  font-family: "Tilt Warp", sans-serif;
  color: #ffffff;
  margin-bottom: 20px;
  background-color: #223864;
  border-radius: 3rem;
  padding: 1rem 2rem;
  width: fit-content;
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.5);
}

.bg-primary {
  background-color: #3c6bb1 !important;
}

.bg-secondary {
  background-color: #2e4e8c !important;
}

/* ========== Botones ========== */
.btn-primary {
  color: #fff;
  background-color: #3c6bb1;
  border-color: #3c6bb1;
  border-radius: 0.5rem;
}

.btn-primary:hover {
  color: #fff;
  background-color: #2e4e8c;
  border-color: #2e4e8c;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(60, 107, 177, 0.5);
}

.link {
  color: #3c6bb1;
}

.link:hover {
  color: #2c3855;
}

/* ========== Sidebar ========== */
.offcanvas-size-sm {
  --bs-offcanvas-width: min(95vw, 240px) !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #3c6bb1;
}

/* ========== Tablas ========== */
.table-container {
  position: relative;
  margin: 1rem auto;
}

/* Bordes redondeados para la tablas */
.table-container table thead tr:first-child th:first-child {
  border-top-left-radius: 1rem;
  padding-left: 1rem;
}

.table-container table tbody td:first-child {
  padding-left: 1rem;
}

.table-container table thead tr:first-child th:last-child {
  border-top-right-radius: 1rem;
}

.table-container table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 1rem;
}

.table-container table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 1rem;
}

/* Colores */
.table-container table thead tr {
  background-color: #3c6bb1;
  color: #fff;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(60, 107, 177, 0.1);
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(60, 107, 177, 0.05);
}

.table-striped tbody tr:hover {
  background-color: rgba(60, 107, 177, 0.2);
}

/* ========== Form input ========== */
.form-control {
  border-radius: 1rem;
  border-style: solid;
  border-width: 1px;
  border-color: #b5bdce;
}

.search-filter {
  display: flex;
  justify-content: flex-end;
}

.form-select {
  border-radius: 1rem;
  border-style: solid;
  border-width: 1px;
  border-color: #b5bdce;
}
