{% extends 'layout.html' %}
{% block content %}
<style>
    body{
        font-family: 'Overpass', sans-serif;
        font-weight: normal;
        font-size: 100%;
        color: #1b262c;
        margin: 0;
        background: #4802ff;
        background: rgb(77, 38, 179);
        background: linear-gradient(90deg, rgba(77, 38, 179, 1) 40%, rgba(179, 76, 38, 1) 100%);
        background-size: cover;
    }
.myblock{
    border:1px solid black;
    border-radius: 4%;
    background-color: #eff5f8;
    margin-top:20%;
    padding:3%;
}
.h1{
    margin-bottom:5% ;   
    color:#e2ebf1;
}
.btnRegister  {
	color: #fff;
    background-color: #d9534f !important;
	border-color : #d43f3a
}

.presion:hover {
    color: #fff;
	background-color: #ee2e28 !important;
}
.mybtn{
    font-family: 'Overpass', sans-serif;
    color:#1b262c;
    background-color: #bbe1fa;
}
.text-black{
    color:black;
    font-weight: 600;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12"></div>
        <div class="col-lg-6 col-md-6 col-sm-12 myblock">
            <h1 class="h1 text-black">Login Form</h1>
            <form id="login" action="{{ url_for('main.login')}}" method="post" class="form-group">

            <div class="form-group">
                <input type="text" id="username" name="username" placeholder="Username" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block   btnRegister presion" id="submit">Submit</button>
                <a href="{{ url_for('main.signup') }}" class="btn btn-block btn-success">Signup</a>
            </div>
            </form>
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <ul class=flashes>
                  {% for message in messages %}
                    <li>{{ message }}</li>
                  {% endfor %}
                  </ul>
                {% endif %}
              {% endwith %}
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12"></div>
    </div>
</div>

{% endblock %}
