{% extends 'layout.html' %}
{% block content %}

<style>
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    .options {
        padding: 10px;
    }
</style>

<!-- Mensaje de alerta -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<!-- Barra de busqueda, boton anadir usuario -->
<div class="options">
    <input type="search" placeholder="Search">
    <input type="submit" value="Buscar">
    <a type="submit" href="{{ url_for('signup') }}" >Add</a>
</div>

<!-- Tabla con usuarios -->
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Login</th>
            <th>Names</th>
            <th>Last Names</th>
            <th>Roles</th>
            <th>Project Types</th>
        </tr>
        {% for eachuser in userlist %}
            <form method="post" action="{{ url_for('update_user', user_id=eachuser.id) }}">
            <tr>
                <td>{{ eachuser.id }}</td>
                <td><input type="text" name="username" value="{{ eachuser.username }}" disabled readonly> </td>
                <td><input type="text" name="first_name" value="{{ eachuser.first_name }}"></td>
                <td><input type="text" name="last_name" value="{{ eachuser.last_name }}"></td>
                <td>
                    <select id="user_rol" name="user_rol" class="form-select">
                        <option selected>{{ eachuser.role.name }}</option>
                        {% for role in roles %}
                            {% if role.name != eachuser.role.name %}
                                <option>{{ role.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td> Falta </td>
                <!-- <input class="btn" type="submit" name="update" value="Update"> -->
                <td><button type="submit" class="btn">Update</button></td>
            </form>
                <td> 
                    <form method="post" action="{{ url_for('delete_user', user_id=eachuser.id) }}">
                        <input class="btn" type="submit" name="delete" value="Delete">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
