{% extends 'base/base.html' %}
{% set active_page = "material-supp" %}
{% block title %}Materiales e Insumos{% endblock %}
{% block content %}
  <div class="d-flex justify-content-center my-4">
    <h1 class="title-container">Materiales e Insumos</h1>
  </div>

  <!-- Modal para informar al usuario -->
  <div class="modal fade" id="info-modal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="infoModalLabel">Plan de Acción</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Para agregar, modificar o eliminar esta actividad, diríjase a la página de Plan de Acción</p>
        </div>
      </div>
    </div>
  </div>

  {# Barra de filtro de plan de acción #}
  <div class="container">
    <form class="row search-filter" action="{{ url_for('materials_supplies', project_detail_id=project_detail.id) }}" method="post">
      <div class="col-sm-12">
        <div class="input-group">
          <input name="material-supp-filter" id="material-supp-filter" type="text" class="form-control" placeholder="Buscar materiales e insumos" aria-label="Buscar materiales e insumos" aria-describedby="basic-addon2" />
          <button type="submit" class="btn btn-primary" style="border-radius: 5px;margin-left: 10px;" data-bs-toggle="modal">
            <img src="{{ url_for('static', filename='img/search.svg') }}" width="40" height="40" fill="white" class="table-button" value="submit" style="border-radius: 5px;" title="Buscar materiales e insumos" />
          </button>
          {# Boton de agregar materiales e insumos #}
          <button type="button" class="btn btn-primary info-modal" style="border-radius: 5px;margin-left: 10px;" data-bs-toggle="modal" id="add-matetial-supp">
            <img src="{{ url_for('static', filename='img/add.svg') }}" width="40" height="40" fill="white" class="table-button" value="submit" style="border-radius: 5px;" />
          </button>
        </div>
      </div>
    </form>
  </div>
  {# Si no hay materiales e sumunistros o no se encontraron en la busqueda #}
  {% if materials_supplies|length == 0 %}
    <div class="d-flex justify-content-center my-4">
      <div class="alert alert-danger" role="alert">No se encontraron materiales e insumos</div>
    </div>
  {% else %}
    {# Tabla de materiales e insumos #}
    <div class="container">
      <div class="container table-container">
        <table class="table table-striped table-hover">
          {# Header de la tabla #}
          <thead>
            <tr>
              <th>ID</th>
              <th>Acción</th>
              <th>Actividad</th>
              <th>Categoría</th>
              <th>Descripción</th>
              <th>Unidades</th>
              <th>Medida</th>
              <th>Responsable</th>
              <th>Monto</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            {% for material_supply in materials_supplies %}
              <tr>
                <td>{{ material_supply.id }}</td>
                <td>{{ material_supply.activity.action_plan.action }}</td>
                <td>{{ material_supply.activity.description }}</td>
                <td>{{ material_supply.category }}</td>
                <td>{{ material_supply.description }}</td>
                <td>{{ material_supply.amount }}</td>
                <td>{{ material_supply.measure_unit.unit }}</td>
                <td>{{ material_supply.activity.charge_person.names }} {{ material_supply.activity.charge_person.surnames }}</td>
                <td>{{ material_supply.cost }}</td>
                <td>
                  {# Botón de modificar #}
                  <button id="edit{{ material_supply.id }}" type="button" class="btn btn-primary my-2 edit-material-supp" data-bs-toggle="modal">
                    <img src="{{ url_for('static', filename='img/edit.svg') }}" width="24" height="24" fill="white" class="table-button" value="submit" style="border-radius: 5px;" title="Modificar material e insumo" />
                  </button>

                  {# Botón de eliminar #}
                  <button id="delete{{ material_supply.id }}" type="button" class="btn btn-primary delete-material-supp" data-bs-toggle="modal">
                    <img src="{{ url_for('static', filename='img/delete.svg') }}" width="24" height="24" fill="white" class="table-button" value="submit" style="border-radius: 5px;" title="Eliminar material e insumo" />
                  </button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}

  <!-- Botones para dirigirse a la sección de Plan de Acción y Talento Humano -->
  <div class="d-flex justify-content-end" style="margin-right: 4rem;">
    <a href="{{ url_for('action_plans', project_detail_id=project_detail.id) }}" class="btn btn-primary float-right mx-1" style="border-radius: 5px;">Plan de Acción</a>
    <a href="{{ url_for('human_talents', project_detail_id=project_detail.id) }}" class="btn btn-primary float-right mx-1" style="border-radius: 5px;">Talento Humano</a>
  </div>

  <script src="{{ url_for('static', filename='js/info_modals.js') }}"></script>
{% endblock %}
