{% extends 'base/base.html' %}
{% set active_page = "portfolio" %}
{% block title %}Portafolio de Proyectos{% endblock %}
{% block content %}
  <div class="d-flex justify-content-center my-4">
    <h1 class="title-container">Portafolio de Proyectos</h1>
  </div>
  {# Modal modificar proyecto #}
  <div
    class="modal fade"
    id="modifyModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="ModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">Modificar un proyecto</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
          </button>
        </div>
        <div class="modal-body">
          <form id="modifyProjectForm" method="post">
            <div class="mb-3">
              <label class="form-label" for="description"
                >Descripcion del Proyecto</label
              >
              <input
                type="text"
                id="descriptionM"
                class="form-control"
                name="description"
              />
            </div>
            <div class="mb-3">
              <label class="form-label" for="start_date">Inicio</label>
              <input
                id="start_dateM"
                name="start_date"
                type="date"
                class="form-control"
                style="background-color:transparent;border-radius: 5px;display: inline-block;"
              />
            </div>
            <div class="mb-3">
              <label class="form-label" for="deadline">Cierre</label>
              <input
                id="deadlineM"
                name="deadline"
                type="date"
                class="form-control"
                style="background-color:transparent;border-radius: 5px;display: inline-block;"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button" 
              class="btn btn-secondary" 
              data-bs-dismiss="modal"
              >Cerrar
            </button>
            <button 
              type="submmit" 
              class="btn btn-primary"
              >Enviar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  {# Modal agregar proyecto #}
  <div
    class="modal fade"
    id="addModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="AddModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="AddModalLabel">Agregar un proyecto</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
          </button>
        </div>
        <div class="modal-body">
          <form action="{{ url_for('create_project') }}" method="post">
            <div class="mb-3">
              <label 
                class="form-label" 
                for="description"
                >Descripcion del Proyecto
              </label>
              <input
                type="text"
                id="description"
                name="description"
                class="form-control"
                placeholder="Ingrese la descripcion del proyecto"
              />
            </div>
            <div class="mb-3">
              <label class="form-label" for="start_date">Inicio</label>
              <input
                id="start_date"
                type="date"
                name="start_date"
                class="form-control"
                style="background-color:transparent;border-radius: 5px;display: inline-block;"
              />
            </div>
            <div class="mb-3">
              <label class="form-label" for="deadline">Cierre</label>
              <input
                id="deadline"
                name="deadline"
                type="date"
                class="form-control"
                style="background-color:transparent;border-radius: 5px;display: inline-block;"
              />
            </div>
            <div class="modal-footer">
              <button 
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Cerrar
              </button>
              <button type="submit" class="btn btn-primary">Agregar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row search-filter">
      <div class="col-sm-12">
        <div class="input-group">
          <input id="table_filter" type="text" class="form-control" />
          <div class="input-group-btn" style="margin-left: 10px;display: flex;">
            <form action="/" method="post">
              <button
                type="submit"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#modifyModal" {# malo #}
                style="border-radius: 5px;margin-left: 10px;"
              >
                <img
                  src="{{ url_for('static', filename='img/search.svg') }}"
                  width="40"
                  height="40"
                  fill="white"
                  class="table-button"
                  value="submit"
                  style="border-radius: 5px;"
                  title="Buscar proyecto"
                />
              </button>
            </form>
            <form action="/" method="post">
              <button
                type="button"
                class="btn btn-primary"
                style="border-radius: 5px;margin-left: 10px;"
                data-bs-toggle="modal"
                data-bs-target="#addModal"
              >
                <img
                  src="{{ url_for('static', filename='img/add.svg') }}"
                  width="40"
                  height="40"
                  fill="white"
                  class="table-button"
                  value="submit"
                  style="border-radius: 5px;"
                />
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# Si no hay proyectos o no se encontraron en la busqueda #}
  {% if projects|length == 0 %}
    <div class="d-flex justify-content-center my-4">
      <div class="alert alert-danger" role="alert">
        No se encontraron proyectos
      </div>
    </div>
  {% else %}
    {# Tabla de proyectos #}
    <div class="container">
      <div class="container table-container">
        <table class="table table-striped table-hover">
          {# Header de la tabla #}
          <thead>
            <tr>
              <th>ID</th>
              <th>Descripcion</th>
              <th>Inicio</th>
              <th>Cierre</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            {% for project in projects %}
              <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.description }}</td>
                <td>
                  <input
                    type="date"
                    style="background-color:transparent;border-radius: 5px;"
                    value="{{ project.start_date }}"
                  />
                </td>
                <td>
                  <input
                    type="date"
                    style="background-color:transparent;border-radius: 5px;"
                    value="{{ project.end_date }}"
                  />
                </td>
                <td>
                  <button type="button" class="btn btn-primary">
                    {# Generar #}
                    <img
                      src="{{ url_for('static', filename='img/generate.svg') }}"
                      width="24"
                      height="24"
                      fill="white"
                      class="table-button"
                      value="submit"
                      style="border-radius: 5px;"
                      title="Generar proyecto"
                    />
                  </button>

                  {# Modificar #}
                  <button
                    type="button"
                    id="{{ project.id }}" 
                    class="btn btn-primary modifyProject"
                    data-toggle="modal"
                    {# data-bs-target="#modifyModal{{ project.id }}" #}
                  >
                    <img
                      src="{{ url_for('static', filename='img/edit.svg') }}"
                      width="24"
                      height="24"
                      fill="white"
                      class="table-button"
                      value="submit"
                      style="border-radius: 5px;"
                      title="Modificar proyecto"
                    />
                  </button>

                  {# Eliminar #}
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#modifyModal"
                  >
                    <img
                      src="{{ url_for('static', filename='img/delete.svg') }}"
                      width="24"
                      height="24"
                      fill="white"
                      class="table-button"
                      value="submit"
                      style="border-radius: 5px;"
                      title="Eliminar proyecto"
                    />
                  </button>

                  {# Habilitar/Cerrar #}
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#modifyModal"
                  >
                    {% if project %}
                      <img
                        src="{{ url_for('static', filename='img/stop.svg') }}"
                        width="24"
                        height="24"
                        fill="white"
                        class="table-button"
                        value="submit"
                        style="border-radius: 5px;"
                        title="Cerrar proyecto"
                      />
                    {% else %}
                      <img
                        src="{{ url_for('static', filename='img/play.svg') }}"
                        width="24"
                        height="24"
                        fill="white"
                        class="table-button"
                        value="submit"
                        style="border-radius: 5px;"
                        title="Habilitar proyecto"
                      />
                    {% endif %}
                  </button>

                  {# Imprimir #}
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#modifyModal"
                  >
                    <img
                      src="{{ url_for('static', filename='img/print.svg') }}"
                      width="24"
                      height="24"
                      fill="white"
                      class="table-button"
                      value="submit"
                      style="border-radius: 5px;"
                      title="Imprimir proyecto"
                    />
                  </button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  {% endif %}
</div>

{# Insertar dinamicamente el contenido a modal modificar via Ajax #}
<script>
$(document).ready(function(){
  $(document).on('click', '.modifyProject', function() {
  var form = $(this)
  $.ajax({
   url: "/select",
   method: "POST",
   data: {project_id: form.attr("id")},
   success: function(data) {
    $('#modifyModal').modal('show');
    var data_rs = JSON.parse(data);
    $('#descriptionM').val(data_rs[0]['description']);
    $('#start_dateM').val(data_rs[0]['start_date']);
    $('#deadlineM').val(data_rs[0]['deadline']);
    $('#modifyProjectForm').attr('action', "/modify-project/" + form.attr("id"));
   }
  });
 });
});
</script>
{% endblock %}
